<header>
    <h1> Mis Productos </h1>

    <div>
        <p>Bienvenido, {{user.first_name}} - {{user.last_name}}!! </p>
        <p>E-mail: {{user.email}} </p>
        <p>Edad: {{user.age}} </p>
        <p>Rol: {{user.role}} </p>
        <a href="/api/session/logout">Cerrar Session</a>
    </div>
</header>

<div class="container"></div>
    <h1> SHOPS CARTS</h1>
    <ul class="product-list"></ul>
        {{#each listadeproductos}}
        <li class="product-item"> 
            <p><strong>ID:</strong>{{_id}}</p> 
            <p><strong></i> Description: {{this.description}}</p>
            <p><strong></i> Price: ${{this.price}}</p>
            <p><strong></i> Category: {{this.category}}</p>
            <p><strong></i> Status: {{this.status}}</p>
            <p><strong></i> Stock: {{this.stock}}</p>
            <p><strong></i> Image: </strong>{{this.thumbnail}}</p>
            <form action="/api/carts/:cid/productos/{{_id}}" method="post">
                <input type="hidden" name="quantity/{{_id}}" value="1">
                <button type="submit">Agregar al Carrito</button>    
            </form>           
        </li>
        {{else}}
        <li class="product-item">No hay productos disponibles</li>
            {{/each}}
        </ul>
        <div class="pagination">
        {{#if hasPrevPage}}
        <a href="/productos?page={{prevPage}}&limit={{limit}}&sort={{sort}}">Anterior</a>
        {{/if}}

        <span>Página {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
        <a href="/productos?page={{nextPage}}&limit={{limit}}&sort={{sort}}">Siguiente</a>
        {{/if}}
    </div>

</div>